.view-wrapper {
  margin-bottom  : 22px;
  padding-bottom : 8px;
  border-bottom  : 1px grey solid;
}

.view-img {
  width            : 100%;
  height           : 180px;
  background-image : url('../../images/blue_bear.jpg');
  background-size  : cover;
}

.view-title {
  color       : grey;
  font-family : 'Open Sans Condensed',
                sans-serif;
  font-size   : 20px;
  font-weight : 700;
}

.view-description {
  color : grey;
}

.itinerary-wrapper-view {
  height   : 100vh;
  padding  : 30px;
  overflow : scroll;
  border   : 2px #1eb4f0 solid;
}

.read-more {
  color           : grey;
  text-decoration : none;
}

.single-likes-wrapper {
  position : relative;
  top      : 27px;
  right    : 25px;
  width    : 20px;
  float    : right;
}
