.login-wrapper {

  display        : flex;
  min-width      : 100%;
  height         : 400px;
  margin         : 67px auto;
  padding        : 20px;
  border         : 16px #005fa0 solid;
  flex-direction : column;
  box-sizing     : border-box;
}
