.login-wrapper {
  display        : flex;
  min-width      : 306px;
  max-width      : 40%;
  height         : 317px;
  margin         : 67px auto;
  padding        : 20px;
  border         : 2px #005fa0 solid;
  flex-direction : column;
}
