.login-wrapper {
  display               : flex;
  box-sizing            : border-box;
  -webkit-box-direction : normal;
  -webkit-box-orient    : vertical;
  min-width             : 306px;
  max-width             : 92%;
  height                : 375px;
  margin                : 67px auto;
  padding               : 20px;
  border                : 15px #005fa0 solid;
  -ms-flex-direction    : column;
  flex-direction        : column;
}
