.destination-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-map-container,
.add-destination-section{
  height: 300px;
  width: 100%;
  margin: auto;
}

.add-destination-div{
  z-index: 1;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.btn:hover,
.ok-submit:hover {
  cursor: pointer;
}

.place{
  font-weight: 700;
}

.delete-btn{
  float: right;
  height: 25px;
}

.save-btn {
  position: fixed;
bottom: 0px;
right: 0px;
}
.single-destination{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px lightgrey solid;
}

.single-destination-wrapper{
  height: 209px;
  overflow: scroll;
  background-color: rgba(128, 128, 128, 0.08);
  padding: 4px 14px;
}

.input{
  display: block;
  margin: 9px auto;
  padding: 7px;
  width: 61%;
  font-size: 15px;
  text-align: center;
  border: 1px lightgrey solid;
  border-radius: 4px;
}

.description {
  height: 20px;
}

.input::placeholder {
  color: lightgrey;
  text-align: center;
  font-size: 15px
}

.ok-submit {
  width: 42px;
  position: absolute;
  top: 2px;
  right: 5px;
}

.btn {
  color: #F28C48;
  border: 1px #F28C48 solid;
  background-color: white;
  padding: 8px 23px;
  margin: 6px;
  align-content: center;
  border-radius: 6px 6px;
}
