body {
  height : 100%;
}

body * {
  align-content : center;
  align-items   : center;
  font-family   : 'Open Sans Condensed',
                  sans-serif;
}

h1 {
  font-size : 25px;
}

.header {
  display         : flex;
  margin-bottom   : 22px;
  justify-content : space-around;
}

.logo {
  color           : #ED615E;
  text-decoration : none;
  text-shadow     : darkgrey -1px 2px;
  font-family     : 'Pacifico',
                    cursive;
  font-size       : 25px;
  transform       : rotate(-3deg);
}

.nav-item {
  color           : #005FA0;
  text-decoration : none;
  font-family     : 'Pacifico',
                    cursive;
  font-size       : 25px;
  font-weight     : 700;
}

.link {
  text-decoration : none;
}
