.single-map-container{
  position: relative;
  /*top: -100px;*/
  height: 300px;
  width: 100%;
  margin: auto;
}

.title-card{
  box-shadow: 0px 0px 6px grey;
  height: 115px;
  border: 1px grey solid;
  width: 69%;
  margin: auto;
  position: relative;
  top: -52px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.itinerary-title{
  font-weight: 700;
  margin: 4px;
font-size: 24px;
}

.itinerary-description{
  margin: 0;
}
.heart-img{
  height: 20px;
}
.btn-wrapper{
  display: flex;
  justify-content: space-around;
}
.likes{
  margin: 0;
  color: grey;
  position: absolute;
  top: -3px;
    right: -15px;
}

.likes-wrapper{
  position: relative;
}
.render-destination-wrapper{
  padding: 0 16px;
}
