.profile-pic{
  height: 91px
}

.pic-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.user-name{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}

.btn-wrapper{
  display: flex;
  justify-content: space-around;
  margin-top: 23px;
}

.profile-btn{

}
