.profile-pic {
  height : 91px;
}

.pic-wrapper {
  display         : flex;
  align-content   : center;
  justify-content : space-around;
}

.user-name {
  margin      : 0;
  font-family : 'Open Sans Condensed',
                sans-serif;
  font-size   : 26px;
  font-weight : 700;
}

.btn-wrapper {
  display         : flex;
  margin-top      : 23px;
  justify-content : space-around;
}

.profile-btn {
  padding          : 4px 23px;
  color            : white;
  border           : 2px #1eb4f0 solid;
  border-bottom    : none;
  background-color : #1eb4f0;
  font-size        : 18px;
}
